# Python environment
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# AI generated database cache
pantun_faiss.index
pantun_data.npz

# Temporary processed dataset
dataset/Dataset.csv

# Uploaded images
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE and System files
.claude/
.vscode/
.DS_Store
*.log
frontend/node_modules/
dist/
uploads/
frontend/dist/
